/*
 * Buttons
 *
 * Default POC button styles. Overrides Materialize.
 *
 * Author: 
 * Contact:
 * Date Created:
*/

.btn {
	border-radius: 0;
	background: $purple;
	color: $white;

	a {
		color: $white;
	}
}